/* General Stylies */
:root{
    --purple-color: #885af8;
    --gray-color: #eee;
    --dark-gray-color: #90a0b7;
    --blue-color: #109cf1;
    --green-color: #2ed47a;
    --red-color: #f6685b;
    --yellow-color: #ffb946;
}
::selection{
    background-color: var(--purple-color) !important;
    color: #fff !important;
}
.btn-primary{
    border-radius: 6px !important;
    background-color: var(--purple-color) !important;
}
.btn-purple{
    background-color: var(--purple-color) !important;
    color: #fff;
}
.btn-default:hover,
.btn-primary:hover{
    background-color: var(--purple-color) !important;
    color: #fff !important;
}
.btn-default:hover .icon,
.btn-primary:hover .icon {
    stroke: #fff !important;
}
.active{
    color: var(--purple-color) !important;
    background-color: transparent !important;
}
.purple{
    background-color: var(--purple-color);
    color: var(--purple-color);
}
.bg-yellow{
    background-color: var(--yellow-color);
}
.bg-purple{
    background-color: var(--purple-color);
    color: #fff;
}
span.count{
    background-color: #fff;
    color: #222;
    padding: 3px 6px;
    text-align: center;
    border-radius: 50%;
}
.splash img{
    width: 300px !important;
    min-width: 300px !important;
    height: auto !important;
    min-height: auto !important;
}
.datepicker{
    background-color: #fff !important;
}
.svg-size{
    width: 30px !important;
    height: 30px !important;
}
.form-viewers{
    display: none !important;
}
/* ========= SideBar ========= */
.list-sidebar, .overlay-sidebar{
    background-color: #fff !important;
    margin-top: 0px !important;
    padding-top: 10px !important;
    padding-bottom: 20px !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-right: 0 !important;
    transition: all .3s ease-in-out !important;
}
a.desk-sidebar-item:hover {
    background-color: var(--purple-color) !important;
    color: #fff !important;
}
.sidebar-item-label{
    font-size: 20px !important;
}
.layout-side-section{
    margin-top: 0px !important;
    padding-top: 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-right: 0 !important;
    transition: all .3s ease-in-out !important;
    overflow-y: auto !important;
    box-shadow: 5px 0 7px -4px rgb(0 0 0 / 7%);
}

.standard-sidebar-label,
.widget-group-title {
    display: none !important;
}
.desk-sidebar{
    border-bottom: 1px solid var(--gray-color) !important;
}
.user-avatar{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
.support-img{
    margin-top: 120px !important;
}
.sidebar-reports{
    border-top: 1px solid #eee;
}
.sidebar-reports.sm-nav{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.sidebar-reports h5{
    background-color: var(--purple-color);
    color:#fff;
    text-align: center;
    font-style: italic;
    padding: 5px 0;
}
.dropdown-menu-right{
    transition: all .3s ease-in-out !important;
}
.dropdown-menu>li:hover .dropdown-item{    
    background-color: var(--purple-color) !important;
    color: #fff !important;
}
.dropdown-menu>li:hover .dropdown-item .icon{
    stroke: #fff !important;
}
.dropdown-menu-right>a:hover {
    background-color: var(--purple-color) !important;
    color: #fff !important;
}
.dropdown-menu>a:hover{    
    background-color: var(--purple-color) !important;
    color: #fff !important;
}
/* ========= Nav Bar ========= */
.navbar-collapse>form{
    margin-left: -4px !important;
}
#navbar-search{
    height: 50px !important;
    background-color: #f9fafa8f !important;
}
#navbar-search::placeholder{
    color: var(--dark-gray-color) !important;
}
.search-bar .awesomplete input:focus{
    box-shadow: none !important;
}
.search-bar svg{
    stroke: var(--dark-gray-color) !important;
}
.layout-main-section-wrapper{
    border-radius: 6px !important;
}
[data-page-route="Workspaces"] .layout-main .desk-sidebar {
    margin-bottom: 0 !important;
}
.dropdown-navbar-user{
    display: inline-block !important;
    padding: 2px !important;
    text-align: left !important;
}
.dropdown-menu-right{
    transition: all .3s ease-in-out !important;
}
ul.dropdown-menu>li:hover .dropdown-item{    
    background-color: var(--purple-color) !important;
    color: #fff !important;
}
.dropdown-menu-right>a:hover {
    background-color: var(--purple-color) !important;
    color: #fff !important;
}
/* ========= Title Page ======== */
.title-area{
    padding-left: 0 !important;
}
h3.title-text{
    color: var(--purple-color) !important;
    margin-bottom: 5px !important;
    cursor: pointer;
}
/* ========= ShortCut ========= */
.grid-col-1{
    grid-template-columns: none !important;
}
.widget-title svg{
    fill: #fff !important;
}
.grid-col-3{
    flex-wrap: wrap !important;
}
/* ================== */
.list-row-head ,
.level-item {
    color: var(--purple-color) !important;
    font-weight: 600 !important;
    font-size: 16px !important;
}
.level-item>a{
    font-size: 15px !important;
}
.indicator-pill.yellow{
    background-color: var(--yellow-color) !important;
}
.onboard-spotlight:hover{
    color: var(--purple-color) !important;
    background-color: transparent !important;
}
/* ======== Toggler Btn ========= */
.hidden{
    display: none !important;
}
.toggle-sidebar-btn{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
.tooltip-text{
    position: absolute;
    visibility: hidden;
    background-color: var(--purple-color);
    color: #fff;
    border-radius: 8px;
    font-weight: 600;
    padding: 5px 2px;
    width: 110px;
    margin-left: 5px;
    z-index: 999999999999;
    text-align: center;
}
.toggle-sidebar{
    max-width: 100px !important;
    display: flex !important;
    justify-content: center !important;
}
.toggle-sidebar>div{
    width: 100%;
}
.toggle-sidebar div.form-sidebar-stats {
    display: flex !important;
    align-items: center !important;
    flex-direction: column !important;
}
.toggle-sidebar div.standard-sidebar-section{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.toggle-sidebar .standard-sidebar-item>span>img{
    margin-right: 0;
}
.toggle-sidebar .dropdown-navbar-user,
.toggle-sidebar .nav-user-account{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
.user-settings-list{
    min-width: 100px !important;
    max-width: 120px !important;
}
.toggle-side-sm-btn{
    padding: 0 !important;
    text-align: center;
}
/* ========== Page Btn ========= */
.sort-selector{
    display: none !important;
}
.page-actions .btn:not(.icon-btn){
    height: auto !important;
    padding: 8px 15px !important;
}
.standard-actions{
    align-items: center !important;
}
/* ========== Employee Status Boxes =========== */
.status-box{
    width: 180px;
    height: 70px;
    margin-left: 5px;
    padding: 5px 10px;
    border-radius: 6px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.status-box-body{
    font-size: 18px;
    font-weight: 800;
    text-align: center;
}
.active-status {
    background-color: var(--green-color);
}
.inactive-status {
    background-color: var(--dark-gray-color);
}
.leave-status {
    background-color: var(--purple-color);
}
.shortcut-boxes{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.status-box-body svg {
    stroke: #fff !important;
}
.widget.dashboard-widget-box .widget-control{
    right: -15px !important;
    top: -10px !important;
}
.dashboard-widget-box{
    min-width: 100% !important;
}
.justify-content-end {
    justify-content: flex-end !important;
}
.widget.shortcut-widget-box{
    width: 200px !important;
    height: 70px !important;
    margin-left: 5px !important;
    padding: 5px 10px !important;
    border-radius: 6px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    background-color: var(--purple-color) !important;
}
.widget-head .widget-title{
    color: #fff !important;
}
.widget-group .grid-col-3{
    display: flex !important;
}
/* =========== Notifications ============= */
.notification-box{
    position: relative;
    border-radius: 6px;
    border: 1px solid #eee;
    margin-top: 10px;
    padding:10px;
    box-shadow: 0px 0px 9px rgb(0 0 0 / 7%);
    transition: all .2s ease-in-out;
}
.notification-box:hover{
    background-color: var(--purple-color);
    color: #fff;
}
.notification-box:hover h5,
.notification-box:hover h6, 
.notification-box:hover span{
    color: #fff !important;
}
.layout-main-section-wrapper{
    padding-right: 0 !important;
    margin-bottom: 0 !important;
}

[data-page-route=Workspaces] .layout-main {
    height: calc(100vh - var(--navbar-height)- 5px) !important;
}
/* ======== Attendance State ======== */
.attendance-state{
    padding-bottom: 15px;
}
/* ======== DocType Links  ======== */
.document-link .document-link-badge{
    background-color: var(--purple-color) !important;
    color: #fff !important;
}
.document-link .document-link-badge>span{
    color: var(--purple-color) !important;
    background-color: #fff !important;
}
.document-link button{
    background-color: var(--purple-color) !important;
    color: #fff !important;
}
.document-link button .icon{
    stroke: #fff !important;
}
input[type="checkbox"]:checked{
    background-color: var(--purple-color) !important;
    background-image: url("data:image/svg+xml, <svg viewBox='0 0 8 7' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M1 4.00001L2.66667 5.80001L7 1.20001' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/></svg>") !important;
}
/* ======== Media Query ======== */
@media only screen and (min-width: 992px) {
    .show-sidebar-toggle{
        display: none !important;
    }
}
@media only screen and (max-width: 991px) {
    a.toggler-btn {
        display: none !important;
    }
    .cus-app-logo{
        display: none;
    }
    html[dir="rtl"] .lang-list{
        left: 0;
    }
}
@media only screen and (max-width: 767px) {
    .actions-btn {
        margin-top: 8px !important;
    }
    div.widget-group-body.grid-col-3{
        justify-content: center !important;
    }
}
/* ========== AR Direction ========== */
html[dir="rtl"] body{
    overflow-x: hidden !important;
}
html[dir="rtl"] .navbar-collapse>form{
    margin-left: 0!important;
    margin-right: -4px !important;
}
html[dir="rtl"] .cus-app-logo img{
    width: 45px;
    min-height: 45px;
    margin-right: 15px;
}
html[dir="rtl"] a.standard-sidebar-item>span>img{
    width: 46px; 
    border-radius: 50%;
    margin-left: 0;
    margin-right: 0;
}
html[dir="rtl"] div.actions-btn{
    margin-right: auto !important;
}
html[dir="rtl"] div.layout-side-section{
    margin-left: 15px !important;
}
html[dir="rtl"] a.toggler-btn{
    display: block;
    margin-top: 20px;
    padding-right: 15px;
}
html[dir="rtl"] div.dropdown-navbar-user{
    text-align: right !important;
}
html[dir="rtl"] .small-nav{
    padding-left: 15px !important;
}
/* ======== Language Switcher ========== */
html[dir="rtl"] .lang-list{
    min-width: 80px;
    top: 30px;
    left: 0px;
    transition: all .3s linear;
}
html[dir="rtl"] .lang-list li {
    transition: all .3s ease-in;
}
html[dir="rtl"] .lang-list li:hover {
    background-color: var(--purple-color);
}
html[dir="rtl"] .lang-list li:hover a {
    color: #fff !important;
}
html[dir="rtl"] .sidebar-reports>h5{
    font-size: 18px !important;
}
html[dir="rtl"] .hide-dropdown-btn{
    display: none !important;
}
