<div class="list-sidebar overlay-sidebar hidden-xs hidden-sm" style="width: 100%;">
    <div class="desk-sidebar list-unstyled sidebar-menu">
        <div class="standard-sidebar-section">
            <div class="standard-sidebar-label"></div>
            <a href="/app/user" class="standard-sidebar-item" style="border-bottom: 1px solid #eee;">
                <span>
                    {% if frappe.boot.user_info[frappe.session.user].image %}
                    <img src="{{ frappe.boot.user_info[frappe.session.user].image }}"
                        width="30" style="border-radius: 50%;" />
                    {% else %}
                        <img src="/assets/mosyerdesign/img/avatar-alt.jpg"
                        width="30" style="border-radius: 50%;" />
                    {% endif %}
                </span>
                <span class="sidebar-item-label"> {{ frappe.session.user_fullname }}<span>
                <p class="text-muted" style="font-size: 12px; margin-bottom:0"> {{frappe.session.user_email}}</p>
            </a>
        {% for doc in allowed_doctypes %}
            <div class="side-item">
                <div class="flex">
                    <a href={{doc.items.length > 0 ? "#"  : "/app/"+doc.route}} style="flex:1" 
                        class="desk-sidebar-item standard-sidebar-item {{doc.items.length > 0 ? "dropdown-btn":""}} ">
                        <span style="pointer-events: none !important;">{{frappe.utils.icon(doc.icon || "folder-normal", "lg")}}</span>
                        <span style="pointer-events: none !important;" class="sidebar-item-label">{{__(doc.label) || __(doc.name)}}<span>
                    </a>
                </div>
                <div class="drop-down-menu">
                    <ul class="drop-down-list"> 
                       {% if doc.items.length > 0 %}
                        {% for item in doc.items %}
                            <li class="flex align-items-center">
                                <span>{{frappe.utils.icon(item.icon || "folder-normal", "md")}}</span>
                                <a href="/app/{{item.route}}" class="dropdown-item" style="font-size:14px">{{ __(item.name) }}</a>
                            </li>
                        {% endfor %}
                       {% endif %}
                    </ul>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>

    <div class="nav-item dropdown dropdown-navbar-user dropdown-mobile mb-2">
        <a class="nav-link" style="margin-top: 10px;" data-toggle="dropdown" href="#" onclick="return false;">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-three-dots"
                viewBox="0 0 16 16">
                <path
                    d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
            </svg>
            <span class="ml-2 settings" style="font-size: 18px;">{{__("Settings") }}</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right" id="toolbar-user" role="menu">
            {% for item in frappe.boot.navbar_settings.settings_dropdown %}
            {% if (!item.hidden) { %}
            {% if (item.route) { %}
            <a class="dropdown-item" href="{{ item.route }}">
                {%= __(item.item_label) %}
            </a>
            {% } else if (item.action) { %}
            <a class="dropdown-item" onclick="return {{ item.action }}">
                {%= __(item.item_label) %}
            </a>
            {% } else { %}
            <div class="dropdown-divider"></div>
            {% } %}
            {% } %}
            {% endfor %}
        </div>
    </div>
    <div class="text-center support-img">
        <img src="/assets/mosyerdesign/img/support.jpg" alt="support image" style="width: 200px" />
    </div>
</div>
<a class="toggler-btn text-muted">
    <img src="/assets/mosyerdesign/img/toggler.svg" />
     <span class="sidebar-item-label" style="font-size:13px !important; margin-left: 10px;font-weight:600;">{{__("Toggle sidebar")}}</span>
 </a>