<header class="navbar navbar-expand sticky-top" role="navigation">
	<div class="container-fluid row" style="padding: 0 27px;">
		<div class="col-lg-2 flex align-items-center justify-content-between" style="padding-left: 0; padding-right: 0;">
			<a class="navbar-brand navbar-home nav-app-logo" href="/app" style="flex: 1;">
				<img class="app-logo" style="width: 125px; min-height: 50px;" src="{{ frappe.boot.app_logo_url }}">
			</a>
			<a class="navbar-brand navbar-home cus-app-logo hidden" href="/app" style="flex: 1;">
				<img class="app-logo" src="/assets/mosyerdesign/img/mosyrlogo.png">
			</a>
			<div class="page-head show-sidebar-toggle small-nav" style="background-color: transparent !important; box-shadow: none; position: static;">
				<span class="sidebar-toggle-btn">
					<span class="sidebar-toggle-icons">
						<img src="/assets/mosyerdesign/img/toggler.svg" alt="toggler" style="min-width: 16px; cursor: pointer;" />	
					</span>
				</span> 
			</div>
		</div>
		<div class="col-lg-10 col-xs-12" style="padding-right: 0; padding-left: 0;">
			<div class="collapse navbar-collapse justify-content-end">
				<form class="form-inline fill-width justify-content-end" style="background-color:#f9fafa" role="search" onsubmit="return false;">
					<div class="input-group search-bar text-muted hidden" style="max-width: 100%;">
						<input id="navbar-search" type="text" class="form-control" placeholder="{%= __("Global Search ...") %}" aria-haspopup="true">
						<span class="search-icon">
							<svg class="icon icon-sm">
								<use xlink:href="#icon-search"></use>
							</svg>
						</span>
					</div>
				</form>
				<ul class="navbar-nav">
					<li class="nav-item dropdown dropdown-notifications dropdown-mobile hidden">
						<a class="nav-link notifications-icon text-muted" data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="true" href="#" onclick="return false;">
							<span class="notifications-seen">
								<svg class="icon icon-md">
									<use href="#icon-notification"></use>
								</svg>
							</span>
							<span class="notifications-unseen">
								<svg class="icon icon-md">
									<use href="#icon-notification-with-indicator"></use>
								</svg>
							</span>
						</a>
						<div class="dropdown-menu notifications-list dropdown-menu-right" role="menu">
							<div class="notification-list-header">
								<div class="header-items"></div>
								<div class="header-actions"></div>
							</div>
							<div class="notification-list-body">
								<div class="panel-notifications"></div>
								<div class="panel-events"></div>
							</div>
						</div>
					</li>
					<!--===== switcher Language =======-->
					<li class="nav-item dropdown dropdown-lang dropdown-mobile lang-li">
						<a class="lang-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
							href="#"
							onclick="return false;">
							<span>
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#885af8" class="bi bi-translate" viewBox="0 0 16 16">
								<path d="M4.545 6.714 4.11 8H3l1.862-5h1.284L8 8H6.833l-.435-1.286H4.545zm1.634-.736L5.5 3.956h-.049l-.679 2.022H6.18z"/>
								<path d="M0 2a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v3h3a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2v-3H2a2 2 0 0 1-2-2V2zm2-1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H2zm7.138 9.995c.193.301.402.583.63.846-.748.575-1.673 1.001-2.768 1.292.178.217.451.635.555.867 1.125-.359 2.08-.844 2.886-1.494.777.665 1.739 1.165 2.93 1.472.133-.254.414-.673.629-.89-1.125-.253-2.057-.694-2.82-1.284.681-.747 1.222-1.651 1.621-2.757H14V8h-3v1.047h.765c-.318.844-.74 1.546-1.272 2.13a6.066 6.066 0 0 1-.415-.492 1.988 1.988 0 0 1-.94.31z"/>
							  </svg></span>
						</a>
						<ul class="dropdown-menu lang-list" role="menu">
							<li>
								<a href="#" onclick="return false;" data-lang="ar" class="nav-link lang-switcher" style="padding: 5px 8px; color: #885af8; font-weight: 700; display: flex; align-items: center; justify-content: space-around;">
									<img src="/assets/mosyerdesign/img/ar-lang.png" alt="ar image lang" style="width: 16px;"> {%= __("Ar") %}
								</a>
							</li>
							<li>
								<a href="#" onclick="return false;" class="nav-link lang-switcher" data-lang="en" style="padding: 5px 8px; color: #885af8; font-weight: 700; display: flex; align-items: center; justify-content: space-around;">
									<img src="/assets/mosyerdesign/img/en--lang.png" alt="en image lang" style="width: 16px;"> {%= __("En") %}
								</a>
							</li>
						</ul>
					</li>
					<!--===== End switcher Language =======-->
					<li class="nav-item dropdown dropdown-message dropdown-mobile hidden">
						<a class="nav-link notifications-icon text-muted" data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="true" href="#" onclick="return false;">
							<span>
								<svg class="icon icon-md">
									<use href="#icon-small-message"></use>
								</svg>
							</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</header>