/* General Stylies */
:root{
    --purple-color: #885af8;
    --gray-color: #eee;
    --dark-gray-color: #90a0b7;
    --blue-color: #109cf1;
    --green-color: #2ed47a;
    --red-color: #f6685b;
    --yellow-color: #ffb946;
}
.btn-primary{
    border-radius: 6px !important;
    background-color: var(--purple-color) !important;
}
.active{
    color: var(--purple-color) !important;
    background-color: transparent !important;
}
.purple{
    background-color: var(--purple-color);
    color: var(--purple-color);
}
.bg-yellow{
    background-color: var(--yellow-color);
}
/* ========= SideBar ========= */
a.desk-sidebar-item:hover {
    color: var(--purple-color) !important;
    background-color: transparent !important;
}
.layout-side-section{
    background-color: #fff !important;
    margin-top: -5px !important;
    padding-top: 10px !important;
    padding-right: 0 !important;
    position: relative !important;
    overflow-y: visible !important;
}
.standard-sidebar-label,
.widget-group-title {
    display: none !important;
}
.standard-sidebar-section {
    overflow-y: auto !important;
    height: 400px !important;
    max-height: 400px !important;
}
#navbar-search{
    height: 50px !important;
}
.desk-sidebar{
    border-bottom: 1px solid var(--gray-color) !important;
}
.toggle-sidebar-btn{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
.user-avatar{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
.layout-main-section-wrapper{
    border-radius: 6px !important;
}
[data-page-route="Workspaces"] .layout-main .desk-sidebar {
    margin-bottom: 0 !important;
}
.dropdown-navbar-user{
    display: inline-block !important;
    padding: 2px !important;
    text-align: center !important;
}
/* =========ShortCut========= */
.widget{
    border-radius: 6px !important;
}
.shortcut-widget-box {
    border-radius: 6px !important;
    background-color: var(--purple-color) !important;
}
.widget-title{
    color: #fff !important;
}
.widget-title>span{
    color: #222 !important;
}
/* ================== */
.list-row-head ,
.level-item {
    color: var(--purple-color) !important;
    font-weight: 600 !important;
}
.indicator-pill.yellow{
    background-color: var(--yellow-color) !important;
}
.onboard-spotlight:hover{
    color: var(--purple-color) !important;
    background-color: transparent !important;
}

/* ======== Toggler Btn ========= */
.hidden{
    display: none !important;
}
a.toggler-btn{
    position: absolute;
    left: 0;
    width: 100%;
    top: 25px;
}
.tooltip-text{
    position: absolute;
    visibility: hidden;
    background-color: var(--purple-color);
    color: #fff;
    border-radius: 8px;
    font-weight: 600;
    padding: 5px 2px;
    width: 110px;
    margin-left: 5px;
    z-index: 999999999999;
    text-align: center;
}
a.toggler-btn:hover .tooltip-text{
    visibility: visible;
}
.toggle-sidebar{
    max-width: 100px !important;
}
.user-settings-list{
    min-width: 100px !important;
    max-width: 120px !important;
}
.toggler-btn-sm{
    width: 90px;
    margin: 0 auto;
}
/* ========== Page Btn ========= */
.sort-selector{
    display: none !important;
}
.page-actions .btn:not(.icon-btn){
    height: auto !important;
    padding: 8px 15px !important;
}
.standard-actions{
    align-items: center !important;
}
/* ========== Employee Status Boxes =========== */
.status-box{
    width: 180px;
    height: 70px;
    margin-left: 5px;
    padding: 5px 10px;
    border-radius: 6px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.status-box-body{
    font-size: 18px;
    font-weight: 800;
    text-align: center;
}
.active-status {
    background-color: var(--green-color);
}
.inactive-status {
    background-color: var(--dark-gray-color);
}
.leave-status {
    background-color: var(--purple-color);
}
/* ======== Media Query ======== */
@media only screen and (min-width: 992px) {
    .show-sidebar-toggle{
        display: none !important;
    }
}
@media only screen and (max-width: 992px) {
    a.toggler-btn {
        display: none !important;
    }
}
