body{
    background-color: #fff !important;
    font-family: 'Poppins', sans-serif !important;
}
nav.navbar,
.navbar-light, 
.navbar-expand-lg{
    display: none !important;
    background-color: red !important;
}
#page-login{
    height: 100% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
.for-login{
    padding-top: 40px !important;
}
.for-email-login .page-card,
.for-forgot .page-card,
.for-login .page-card,
.for-signup .page-card{
    box-shadow: none !important;
    margin: 0 !important;
    max-width: 100% !important
}
.form-control {
    transition: none !important;
}
.form-group input,
#forgot_email {
    width: 65% !important;
    height: 50px !important;
    margin-bottom: 40px !important;
    font-size: 16px !important;
    border: 1px solid #eee !important;
}
.sign-up-message {
    margin-top: 0 !important;
    margin-bottom: 25px !important;
}
form.form-signin, 
.form-login{
    max-width: 100% !important;
    margin: 0 !important;
}
#login_password,
#login_email{
    padding-left: 10px !important;
    background-color: transparent !important;
    height: 45px !important;
}
.page-card-actions button{
    background-color: #885af8 !important;
    color: #fff !important;
    width: 65% !important;
    height: 50px !important;
    font-size: 16px !important;
}
footer.web-footer {
    display: none !important;
}