@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700&display=swap');

body{
    background-color: #fff !important;
    font-family: 'Cairo', sans-serif !important;
}
nav.navbar,
.navbar-light, 
.navbar-expand-lg{
    display: none !important;
}
.page-content-wrapper{
    overflow: hidden !important;
}
.login-content{
    box-shadow:none !important;
    margin: 0 !important;
    max-width: 100% !important;
}
.form-signin, .form-login{
    max-width: 100% !important;
}
input{
    padding-left: 10px !important;
    height: 50px !important;
}
input[type="text"]{
    font-size: 18px !important;
}
.page-card-actions button{
    background-color: #885af8 !important;
    color: #fff !important;
    width: 65% !important;
    height: 50px !important;
    font-size: 16px !important;
}
footer.web-footer {
    display: none !important;
}
#loading {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 5px solid rgb(255 255 255 / .5);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}
@keyframes spin {
to {-webkit-transform: rotate(360deg);}
}
@-webkit-keyframes spin {
to {-webkit-transform: rotate(360deg);}
}

@media only screen and (max-width: 992px) {
    .login-img{
        display: none !important;
    }
}
@media only screen and (max-width: 992px) {
    .page-card-head{
        text-align: center !important;
    }
    .sign-up-message{
        text-align: center !important;
    }
    button[type="submit"]{
        margin: auto !important;
    }
    .forgot-password-message{
        text-align: center !important
    }
    .login-content{
        max-width: 80% !important;
        margin: 0 auto !important;
    }

}


